<!DOCTYPE html>
<html>
  <head>
        <title>Chat Sample</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>Chat</h1>
        <ul id = "messages"></ul>
        <form action="">
            <input id = "m" autocomplete="off">
            <button type="submit">Send</button>    
        </form>
        <% include partials/head.ejs %>
      
      
        <script src="/javascripts/chat.js"></script>
  </body>
</html>
