<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <% include partials/head.ejs %>
        <link rel='stylesheet' href='/stylesheets/chat.css' />
    </head>
    <body>
        <div id="beaker">
            <a href="/profile"><paper-button raised class = "backBtn">Profile</paper-button></a>
            <div class="container">
<!--                <h1>Chat</h1>-->
                <ul id = "messages"></ul>
                <form id = "chatbox" action="">
                    <!-- <paper-input id = "m" autocomplete="off" label="Start typeing..."></paper-input> -->
                    <paper-input-decorator label = "Start typing..." id = "chatinput"><input id = "m" autocomplete="off" placeholder = "Start typing..." autofocus required></paper-input-decorator>
                    <paper-icon-button icon="send" type="submit" id = "submit"></paper-icon-button>
                    <!-- <button id = "submit" type="submit">Send</button> -->    
                </form>
                

                <br>
                <!-- <a href="/profile">Profile</a> -->
            </div>
            
        </div>
        
        


        <div class = "rightSideBar">
            <div id = "news">
                <h1>news and ads</h1>
            </div>
            <div id = "ads">

            </div>
        </div>




        <script src="/javascripts/chat.js"></script>
    </body>
</html>
