<!DOCTYPE html>
<html>
  <head>
    <title>Chirpin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/head.ejs %>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
      <div class="containerLog">
          <form role = "form" action="/loginCheck" method="post">
                <div class = "form-group">
                    <label for = "email">Email Address</label>
                    <paper-input-decorator label = "Email"><input type = "email" name = "email" id = "email" placeholder="Enter email" required></paper-input-decorator>
                </div>
                <div class = "form-group">
                    <label for = "password">Password</label>
                    <paper-input-decorator label = "Password"><input type = "password" name = "password" id = "password" placeholder="Password" required></paper-input-decorator>
                </div>
                <paper-button raised id = "submitBtn">Log In</paper-button>
                <a href = "/signup"><paper-button raised id = "signupBtn">Sign Up</paper-button></a>
                <div class="warning"></div>
            </form>
      </div>
      
    
    <script type="text/javascript" src="javascripts/login.js"></script>
  </body>
</html>
