<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
      <% include partials/head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Profile</h1>
    <p>This is gonna be ur profile page</p>
    <a href='/logoff'>Log Off</a> <br>
  </body>
</html>
