<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <link rel='stylesheet' href='/stylesheets/loading.css' />
    </head>
    <body>
        <div id = "loading">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        
        <div class = "beaker">
            <div class = "text">Hello <%= name %>, would you like to: </div> <br>
            
            <a href="/chat"><paper-button raised id = "chatBtn">Chat</paper-button></a> <br>
            <a href="/logoff"><paper-button raised id = "logoff">Log Off</paper-button></a> <br>

        </div>
        
        <% include partials/head.ejs %>
        <script type="text/javascript" src="javascripts/profile.js"></script>
    </body>
</html>
