@media (min-width: 800px){
    html, body {
        height: 100%;
    }

    body {
      font: "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
      color: #00B7FF;
    }

    #beaker {
        left: 0;
        float: left;
        position: relative;
        width: 90%;
        height: 100%;
        background-color: #ecf0f1;
        padding: 20px;
        padding-right: 10%;
    }

    .container {
        width: 80%;
        height: 100%;
    }

    #loading {
        display: none;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .SideBar {
        float: right;
        position: fixed;
        right: 0;
        background-color: yellow;
        height: 100%;
        width: 20%;
        display: none;
    }

    #chatbox {
        position: fixed;
        bottom: 20px;
        height: 60px;
        width: 70%;
    }

    #chatinput {
        float: left;
        width: 90%;
    }

    #chatbox button {
        height: 100%;
    }

    #messages {
        color: black;
        max-width: 1200px;
        height: 85%;
        overflow: auto;
        font-size: 16px;
    }

    #messages li {
        list-style: none;  
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 0px;
        display: inline;
        max-width: 100%;
    }

    #messages paper-shadow {
        margin-bottom: 10px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .username {
        font-weight: bold;
    }

    .backBtn {
        position: fixed;
        color: black;
    }

    #submit {
        float: left;
    }

    .yourchat {
        float: right;
        clear: both;
    }

    .yourchat .username {
        float: right;
    }

    .yourchat paper-shadow {
        background-color: white;
    }

    .otherschat {
        float: left;
        clear: both;
    }

    .otherschat paper-shadow{
        background-color: #d35400;
        color: #ecf0f0;
    }

    .dc paper-shadow {
        background-color: #8e44ad;
        color: white;
        text-align: center;
        clear: both;
        margin: auto;
    }

    .waiting paper-shadow {
        background-color: #c0392b;
        color: white;
        text-align: center;
        clear: both;
        margin: auto;
    }
}




@media (max-width: 799px){
    html, body {
        width: 100%;
        height: 100%;
    }

    body {
      font: "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .background {
        background: url("../images/background.jpg") center center fixed no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        z-index: -1;
    }
    
    a {
      color: #00B7FF;
    }

    #beaker {
        left: 0;
        float: left;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ecf0f1;
        padding: 20px;
        padding-top: 5px;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #loading {
        display: none;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .SideBar {
        display: none;
        float: right;
        position: fixed;
        right: 0;
        background-color: yellow;
        height: 100%;
        width: 20%;
    }

    #chatbox {
        position: fixed;
        bottom: 20px;
        height: 60px;
        width: 100%;
    }

    #chatinput {
        float: left;
        width: 80vw;
    }

    #chatbox button {
        height: 100%;
    }

    #messages {
        color: black;
        width: 100%;
        height: 75%;
        overflow: auto;
        font-size: 16px;
        margin-left: -20px;
    }

    #messages li {
        list-style: none;  
        line-height: 1.5em;
        font-size: 15px;
        margin-bottom: 0px;
        display: inline;
        max-width: 100%;
    }

    #messages paper-shadow {
        margin-bottom: 10px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .username {
        font-weight: bold;
    }

    .backBtn {
        color: black;
    }

    #submit {
        float: left;
    }

    .yourchat {
        float: right;
        clear: both;
    }

    .yourchat .username {
        float: right;
    }

    .yourchat paper-shadow {
        background-color: white;
    }

    .otherschat {
        float: left;
        clear: both;
    }

    .otherschat paper-shadow{
        background-color: #d35400;
        color: #ecf0f0;
    }

    .dc paper-shadow {
        background-color: #8e44ad;
        color: white;
        text-align: center;
        clear: both;
        margin: auto;
    }

    .waiting paper-shadow {
        background-color: #c0392b;
        color: white;
        text-align: center;
        clear: both;
        margin: auto;
    }
}