body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages li {
    list-style: none;   
}

#beaker {
    position: relative;
}

#loading {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
}

.beaker {
    margin: 50px;   
}